[Unit]
Description=demo fastapi application
After=network

[Service]
User=krishna
Group=krishna
WorkingDirectory=/home/krishna/app/src/
Environment="PATH=/home/krishna/app/venv/bin"
EnvironmentFile=/home/krishna/.env
ExecStart=/home/krishna/app/venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target